<header>
    <nav class="navbar">
        <a href="index.html">
            <img src="/assets/images/Logo.png" class="logo">
        </a>
        <div class="menu_toggle" id="menu_toggle">
        </div>
        <ul class="nav_links" id="nav_links">
            <li class="nav_list"><a routerLink="/home">Inicio</a></li>
            <li class="nav_list"><a routerLink="/categoria">Categoria</a></li>
            <li class="nav_list"><a routerLink="/contacto">Contacto</a></li>

            <li class="nav_list"><a routerLink="dashboard/user/list">Lista usuarios</a></li>

        </ul>
        @if(httpAuth.user$| async; as user){
        <ul class="cart_links" id="cart_links">
            <img src="/assets/images/Icon2.png" class="logo hand" (click)="logout()">
        </ul>
        }
        @else {<ul class="cart_links" id="cart_links">
            <li class="nav_list"><a routerLink="/login"><img src="/assets/images/icon.png" class="logo hand"></a></li>
        </ul>}

    </nav>
</header>