<header>
    <nav class="navbar">
        <a href="index.html">
            <img src="/assets/images/crunch.png" class="logo">
        </a>
        <div class="menu_toggle" id="menu_toggle">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        <ul class="nav_links" id="nav_links">
            <li class="nav_list"><a routerLink="/home">Inicio</a></li>
            <li class="nav_list"><a routerLink="/menu">Menu</a></li>
            <li class="nav_list"><a routerLink="/categoria">Categoria</a></li>
            <li class="nav_list"><a routerLink="/contacto">Contacto</a></li>
        </ul>
        <ul class="cart_links" id="cart_links">
            <li><a href=""><fa-icon [icon]="faCartShopping"></fa-icon></a></li>
        </ul>
    </nav>
</header>