<section class="cantainer_form">

    <div class="side-actions">
        <button class="btn btn-secondary" (click)="showCreate()">Crear</button>
        <button class="btn btn-secondary" (click)="showList()">Buscar</button>
    </div>

    <div class="main-layout">
        @if (viewMode === 'form') {
        <div class="container">
            <h2 class="tittle-category">Registrar Categoría</h2>
            <p class="subtittle-category">Ingrese los datos de la nueva categoría</p>
            <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="form-container">
                <div class="form-category">
                    <label for="name">Nombre:</label>
                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nombre:">

                    <!-- @if (formData.invalid && (formData.dirty || formData.touched)) { -->

                    @if (formData.get('name')?.invalid && (formData.get('name')?.dirty ||
                    formData.get('name')?.touched)) {

                    @if (formData.get('name')?.errors?.['required']) {
                    <small class="error">El nombre es obligatorio</small>
                    }

                    @if (formData.get('name')?.errors?.['minlength']) {
                    <small class="error">El nombre debe contener al menos 3 caracteres</small>
                    }

                    @if (formData.get('name')?.errors?.['maxlength']) {
                    <small class="error">El nombre debe contener hasta 50 caracteres</small>
                    }
                    }
                </div>
                <div class="form-category">
                    <label for="img">Imagen:</label>
                    <input formControlName="image" type="file" class="form-control" id="img" accept="image/*">
                    @if (formData.get('image')?.invalid && (formData.get('image')?.dirty ||
                    formData.get('image')?.touched))
                    {
                    <small class="error">Error </small>
                    }
                </div>
                <div class="form-category">
                    <label for="status">Estatus:</label>
                    <select formControlName="status" class="form-control" id="status" placeholder="estado">
                        <option value="">Seleccionar</option>
                        <option [value]="true">Activo</option>
                        <option [value]="false">Inactivo</option>
                    </select>
                    @if (formData.get('status')?.invalid && (formData.get('status')?.dirty ||
                    formData.get('status')?.touched))
                    {
                    <small class="error">El status es obligatorio </small>
                    }
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-primary">Registrar Categoría</button>
                    <button *ngIf="categoryId" type="button" class="btn btn-danger" (click)="onDelete()">
                        Eliminar
                    </button>
                </div>
            </form>
        </div>
        }



        @if (viewMode === 'list') {
        <div class="container">
            <div class="page page-Category-list">
                <h2>Category list</h2>

                <pre>{{categoryList$ | async | json}}</pre>

                <div class="description">
                </div>
                <table>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <small>No olvide que estas acciones solo pueden ser hechas por el ADMIN</small>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (category of (categoryList$ | async); track $index) {
                        <tr>
                            <td>{{category.name}}</td>
                            <td>{{category._id}}</td>
                            <td>{{category.urlImage}}</td>
                            <td>{{category.status}} </td>
                            <td class="options">
                                <a href="#" class="btn btn-edit">Edit</a>
                                <a href="#" class="btn btn-delete">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>ID</th>
                            <th>Img</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        }
    </div>
</section>