

.container_form{
    min-height: calc(100vh - 70px); /* Ajusta según la altura de tu navbar */
    background-image: url('/assets/images/fondo_pollo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.title-products{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    color: #333;
}

.Productnew{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #777;
    font-size: 15px;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-container label{
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.form-container input,
.form-container textarea,
.form-container select{
    width: 100%;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

.form-container textarea{
    resize: none;
    height: 90px;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus{
    border-color: #ff5f7a;
    box-shadow: 0 0 5px rgba(255,95,122,.4);
}

button{
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #ff5f7a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #e84a67;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    font-size: 1.5rem;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.options {
    display: flex;
    gap: 5px;
}