:root {
    --border-color: #635555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #f9f8eea3;
}

.error{
    color: red;
    font-size: 14px;
    font-style: italic;
}